<div class="playground-wrapper">
  <div class="loading" *ngIf="loading">LOADING...</div>
  <div class="playground-main" *ngIf="!loading">

    <div class="playground-rules">

      <div class="playground-scores-players">
        <span class="player-scores">Player SCORES: {{playerScore}}</span>
      </div>
      <div class="playground-scores-players">
        <span class="computer-scores">Computer SCORES: {{computerScore}}</span>
      </div>

      <div class="playground-settings">
        <span class="game-speed">
          <label>
            <input [disabled]="inGame" type="number"
                   [value]="gameSpeed"
                   (blur)="updateInputValue($event)"
                   placeholder="Set speed">
          </label>
          <button (click)="startGame()" [disabled]="inGame || gameSpeed === 0">
            <span *ngIf="!inGame && gameSpeed > 0">START</span>
            <span *ngIf="inGame">IN GAME</span>
             <span *ngIf="gameSpeed < 1">SET SPEED</span>
          </button>
        </span>
      </div>

    </div>

    <div class="playground-field">
      <div *ngFor="let cell of allCells"
           [attr.data-cell]="cell.id"
           [class.chose]="currentCell === cell.id"
           [class.win]="cell.win"
           [class.lose]="cell.lose"
           class="cell"
           (click)="cellClick($event)"></div>
    </div>

  </div>
</div>


<div class="modal-window" *ngIf="win">
  <div class="modal-shadow" (click)="restart()"></div>
  <div class="modal-message" [style.background]="playerScore === 10 ? 'rgba(27, 117, 50, 1)' : 'rgba(84, 30, 57, 1)'">
    <div class="winner-is">
      <span *ngIf="playerScore === 10">You Win!</span>
      <span *ngIf="computerScore === 10">You Lose! )))</span>
    </div>
    <div class="scores">You scores: {{playerScore}}</div>
    <div class="new-game">
      <button (click)="restart()">New Game?</button>
    </div>
  </div>
</div>
